<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
{% block content %}
       <center>
<div style="display: inline-block;">
    {% if data %}
    {% for i in data %}
    <div style="float:left;display: grid; padding: 2%; wigth: 25%">
        {% if i.rasmer %}
        <a href="clothes/{{ i.id }}">
            <img style="padding-bottom:3%" src="{{ MEDIA_ROOT }}/user_images/{{ i.image1 }}" width="200px" height="200px">
        </a>
        {% else %}
        <a href="game/{{ i.id }}">
            <img style="padding-bottom:3%" src="{{ MEDIA_ROOT }}/user_images/{{ i.image1 }}" width="200px" height="200px">
        </a>
        {% endif %}
        <a style="padding-bottom:3%; width:200px">{{ i.name }}</a>
        <a style="padding-bottom:10%">{{ i.price }} руб.</a>
            <div>
                <p onclick="like({{ i.id }})"><img id="{{ i.id }}" src="{% static 'lova_no.JPG' %}" width="30px" height="30px"></p>
            </div>
    </div>
    {% endfor %}
    {% else %}
        <a>Вы не добавляли в избранное никакие товары</a>
    {% endif %}
</div>
</center>
{% endblock %}
</body>
</html>